## base.html
<meta charset="UTF-8">
<head>
    <title>${title}</title>
    <link rel=StyleSheet href="/templates/styles.css" type="text/css"/>
    <script src="/js/jquery-1.7.1.min.js"></script>
    <%block name="header"/>
</head>
<body>
    <div id="menu">
        <div id="menu-items">
            <ul>
                <li><a href="/"><img src="/static/home-icon.png" class="menu-item-icon" alt="HOME"></a></li>
                <li><a href="https://twitter.com/jehosafet"><img src="/static/person-icon.png" class="menu-item-icon" alt="ME"></a></li>
                <li><a href="http://blog.jehosafet.com/2013/11/jennifer-egans-black-box-full-text.html"><img src="/static/question-icon.png" class="menu-item-icon" alt="ABOUT"></a></li>
                <li><a href="https://github.com/mobeets/egan-blackbox-gui"><img src="/static/gear-icon.png" class="menu-item-icon" alt="GEAR"></a></li>
            </ul>
        </div>
        
        <div id="search-bar">
            <form action="/search" method="post">
            <input name="query" type="text" placeholder="Search"></input>
            <input type="submit" style="height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" />
            </form>
        </div>
    </div>
    <div id="outer-wrapper">
        <div id="top-nav-wrapper">
            <div id="top-nav-content">
                <table>
                    <tr>
                        <td>
                            <a href="http://www.newyorker.com/fiction/features/2012/06/04/120604fi_fiction_egan"><img src="/static/nyer-icon.png" class="avatar-icon"></a>
                        </td>
                        <td>
                            <div style="font-size: 18px;"><i>Black Box</i><br></div>
                            <div style="font-size: 14px;">by Jennifer Egan</div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        ${self.body()}
    </div>
</body>
