body {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 18px;
    line-height: 28px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url(/static/stage.jpg);
    background-position: left 40px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-repeat: no-repeat;
    background-color: #C0DEED;
}


input {
    height: 27px;
    background: rgba(220, 220, 220, 1);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cccccc;
    padding: 0 10px;
    line-height: 12px;
}
#menu {
    position: fixed;
    display: block;
    width: 100%;
    height: 40px;
    background: rgba(70, 70, 70, 1.0);
    z-index: 100;
}
#menu-items {
    float: left;
    display: block;
    font-family: "Helvetica Neue",Arial,sans-serif;
    color: rgba(220, 220, 220, 1);
    margin-top: -10px;
    margin-left: 10%;
    padding-top: -10px;
    list-style-type: none;
    width: 400px;
    height: 14px;
}
#menu-items ul li {
    display: inline;
    padding: 5px;
}
.menu-item-icon {
    width: 30px;
    height: 27px;
    padding: 0;
    margin: 0;
}
.menu-item-icon:hover {
    opacity: 0.4;
}
.menu-item-icon:active {
    position: relative;
    top: 1px;
}
.msg-icon {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
}
.msg-icon:hover {
    opacity: 0.8;
}
.msg-icon:active {
    position: relative;
    top: 1px;
}

.avatar-icon {
    width: 60px;
    height: 60px;
    padding: 0;
    margin: 0;
}
#search-bar {
    float: right;
    display: block;
    padding-top: 0.3em;
    margin-right: 20%;
    height: 14px;
    width: 90px;
}

#outer-wrapper {
    background: rgba(255, 255, 255, 0.4);
    padding-top: 55px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}
#inner-wrapper {
    background: rgba(255, 255, 255, 1.0);
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    -webkit-border-radius: 0px 0px 0px 0px;
    border-radius: 0px 0px 0px 0px;
}
#title-bar {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    
}
#content {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#top-nav-wrapper {
    background: rgba(235, 235, 235, 1.0);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(201, 201, 201);

    margin-left: auto;
    margin-right: auto;
    width: 95%;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#top-nav-content {
    /*font-family: "Helvetica Neue",Arial,sans-serif;*/
    /*font-size: 14px;*/
    /*color: rgba(0, 0, 0, 0.5);*/
    /*text-shadow: rgb(255, 255, 255) 0px 1px 0px;*/
    padding-left: 70px;
    padding-top: 3%;
    padding-bottom: 3%;
    /*text-align: center;*/
}
#top-nav-content td {
    /*padding-top: 10px;*/
    line-height: 25px;
    padding-right: 20px;
}

#nav-wrapper {
    background: rgba(235, 235, 235, 1.0);
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgb(201, 201, 201);

    margin-left: auto;
    margin-right: auto;
    width: 95%;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
#nav-content {
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    /*text-shadow: rgb(255, 255, 255) 0px 1px 0px;*/
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
}

.prev_chapter a, .next_chapter a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.prev_chapter a:hover, .next_chapter a:hover{
    text-decoration: underline;
}
.local_link {
    float: right;
    margin-right: 5px;
}
.ext_link {
    float: right;
    margin-right: 5px;
}

#tweet_content {
    display: block;
    margin-bottom: 2%;
    height: 148px;
}

.redo-button {
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url(/static/redo-icon.png);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.1;
    cursor: pointer;
}
.redo-button:hover {
    opacity: 0.7;
}
.redo-button:active {
    position: relative;
    top: 1px;
}

.pause-button {
    display: inline-block;
    height: 28px;
    width: 28px;
    background-image: url(/static/pause-icon.png);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.1;
    cursor: pointer;
}
.pause-button:hover {
    opacity: 0.8;
}
.pause-button:active {
    position: relative;
    top: 1px;
}
